@use "../styles/_variables" as var;
@use "../styles/_global" as glob;

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var.$dark;
  z-index: 999;
}

.nav {
  display: flex;
  margin: 10px;
  margin-bottom: 0;
  padding: 0;
  border: 1px solid var.$light;
  border-bottom: 2px dashed var.$light;
  justify-content: flex-start;
  align-items: center;

  height: 60px;

  &__brand {
    margin-left: 2rem;
    width: 40px;
    height: 40px;
  }

  &__links {
    margin: 0;
    margin-left: 2rem;
    padding-left: 0.8rem;
    list-style-type: none;
    border-left: 2px solid var.$light;
    display: flex;
    flex-wrap: wrap;
  }

  &__link,
  &__link--active {
    @extend .bold-link;
    display: block;
    font-size: 1.5rem;
    padding: 0.1rem 0.8rem;
  }

  &__link {
    color: var.$gray;
  }

  &__link::after,
  &__link--active::after {
    transition: width 0.15s ease-out;
    display: block;
    content: "";
    margin-top: 1px;
    width: 0%;
    height: 2px;
    background-color: #ffe865;
  }

  &__link:hover::after,
  &__link--active:hover::after {
    width: 100%;
  }

  &__menu-toggle {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin-right: 2rem;
    color: var.$light;
    background-color: var.$dark;
    border: none;
    cursor: pointer;
    float: right;
    display: none;
    height: 50px;
  }

  &__menu-toggle:hover {
    color: #ffe865;
  }
}

@media (max-width: 768px) {
  .nav {
    display: block;
    min-height: 60px;
    height: auto;

    &__brand {
      margin-top: 10px;
    }

    &__menu-toggle {
      margin-top: 3px;
    }

    &__menu-toggle {
      display: block;
    }

    &__links {
      display: none;
      margin: 1rem 2rem;
    }

    &__link,
    &__link--active {
      padding: 0.5rem 0.8rem;
    }

    &__links.active {
      display: block;
    }
  }
}
